
.wrapper {
  background-color: rgb(252, 252, 252);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  justify-content: center;
  margin: 25px ;
  padding: 10px 10px 20px ;
}


.header {
  font-size: 27px;
  margin-top: 50px;
}

.small-divider{
  width: 5%;
  border-top: 5px solid rgb(248, 219, 88);
}


.image-left {
  padding :10px ;
  margin: 10px;
  max-width: 500px;
  max-height: 600px;
}



.card{
  padding: 5px;
  margin: 5px;
}

@media only screen and (max-width: 768px) {
  .card{
    max-width: 250px;
    max-height: 300px;
  }
  .image-left {
    margin-left: 0%;
    max-width: 250px;
    max-height: 500px;
  }

}
