<div class="row wrapper">

  <!-- Header -->
  <div class="row justify-content-center" >
    <div class="col-md-12" style="text-align: center;">
      <p class='header'> We would love to hear from you !</p>
      <hr class='small-divider'>
    </div>
  </div>
  <!-- ------- -->


  <!-- Body -->
<div class="row justify-content-center">


  <!-- Left -->
  <div class="col-md-6">
    <img class='image-left' src="../../../assets/icons/contact.jpg">
  </div>




  <!-- Right -->
  <div class="col-md-6" >
  <div class="row justify-content-center">
    <img src="../../../assets/icons/card1.png" class="card">
  </div>
  <div class="row justify-content-center">
    <img src="../../../assets/icons/card2.png" class="card">
  </div>
  </div>



</div>

  <!-- ------- -->

</div>
