       <div class="wrapper">



       <!-- Writing in the center  -->
      <div class="row justify-content-center" id='header' >
          <p id='title'>About Broad Networks</p>
      </div>

      <!-- Content -->
    <div class="row justify-content-center" >
      <div class="col-md-12" id='info-wrapper'>
        <h4 style="color: rgb(17, 192, 192); "> The Story</h4>
        <hr>
        <div class="row" style="margin: 5%;">
          <div class="col-md-6" style="  text-align: justify;
          text-justify: inter-word;" >
 Our company specializes in providing large scale IT software & equipment so-
 lutions, and we have over 15 year’s industry experience, we are considered

 one of the first companies in the field of Information Technology in Palestine.
          </div>
          <div class="col-md-6" style="  text-align: justify;
          text-justify: inter-word;">
Borad Networks has
started its mission in designing and developing many software products. Borad Networks's main aim
is to put this field as the most important field for organizations since information is the most valuable production resource. Rapid data access and effective
information management plays a vital role in both our professional and private lives.
        </div>
      </div>

    </div>
  </div>
