<nav class="navbar navbar-expand-lg navbar-dark ">
  <a class="navbar-brand" href="#">
      <img src="../../../assets/images/logo-act.png" id='logo'>
      <span style="color: white; margin-right: 150px;">Broad Networks LTD.</span>
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon" ></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav " >
          <li class="nav-item">
              <a class="nav-link" routerLink='/' [routerLinkActiveOptions]="{exact:
                true}" routerLinkActive="active22">Home</a>
          </li>
          <li class="nav-item active">
              <a class="nav-link" routerLink='/about' routerLinkActive="active22">About us <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
              <a class="nav-link" routerLink='/work' routerLinkActive="active22">What we do</a>
          </li>
          <li class="nav-item">
              <a class="nav-link" routerLink='/team' routerLinkActive="active22" >Team</a>
          </li>
          <li class="nav-item">
              <a class="nav-link" routerLink='clients' routerLinkActive="active22"  >Partners and Clients</a>
          </li>
          <li class="nav-item">
              <a class="nav-link" routerLink='/contact' routerLinkActive="active22"  >Contact us</a>
          </li>
      </ul>
  </div>
</nav>
