      <div class="wrapper">


        <!-- Writing in the center  -->
        <div class="row justify-content-center" style="margin-top: 7%;">

            <p id='connecting'>Connecting</p>
        </div>
        <div class="row justify-content-center">
          <p id='beyond'>beyond </p>
          <p id='networks'>networks...</p>
        </div>
        <!-- The buttons -->
        <div class="row justify-content-center" style="margin-top: 7%;">
          <button class="btn" id='btn1' routerLink='/about'>Get Started</button>
          <button class="btn" id='btn2' routerLink='/contact'>Contact Us</button>
        </div>


      </div>


